@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.rbc-label {

  @apply text-gray-300 text-sm
}

/* .rbc-time-content>*+*>* {
  @apply !border-gray-700
} */

/* .rbc-time-slot {
  @apply !border-gray-900
} */

.rbc-calendar * {
  @apply !border-gray-700
}

.rbc-allday-cell {
  @apply hidden
}

.rbc-header {
  @apply border-0
}

.rbc-time-content {
  @apply !border-0
}

.rbc-day-slot .rbc-time-slot {
  @apply !border-t-0
}

.rbc-header {
  @apply !py-2 !font-normal !text-xs
}

.rbc-time-header-content {
  @apply shadow-lg shadow-gray-950
}

.rbc-today {
  @apply !bg-gray-700
}

.rbc-off-range-bg {
  @apply !bg-gray-950
}

.rbc-date-cell {
  @apply !text-left px-2
}

.rbc-button-link {
  @apply text-xs mr-auto
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */